name: update-friends-posts
on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0,6,12,18,21 * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
